[mysqld]
server-id=10
log-bin=mysql-bin
gtid-mode=ON
enforce-gtid-consistency=ON
binlog-format=ROW
log-slave-updates=ON
read-only=ON
replicate-do-db=globaldb

master_info_repository=TABLE
relay_log_info_repository=TABLE